<body>
    <header>
      <h1>Books</h1>
    </header>

    <main>
      <table cellspacing="10">
        <% flash.each do |message_type, message| %>
        <%= message %>
        <% end %>

        <tr>
          <th>Title</th>
          <th>Body</th>
          <th>Doing</th>
        </tr>


          <% @books.each do |book| %>
          <tr>
            <td><%= book.title %></td>
            <td><%= book.body %></td>
            <td>
              <div class = "doing-list">
              <p><%= link_to "show", book_path(book.id) %></p>
              <p><%= link_to "edit", edit_book_path(book.id) %></p>
              <p><%= link_to "Destroy", book_path(book), method: :delete,"data-confirm" => "Are you sure" %></p>
              </div>
            </td>
          </tr>
          <% end %>
      </table>
    </main>



   <div class ="erreors_box">
      <% if @book.errors.any? %>
      <div class="render">
      <p class="erroor_message"><%= @book.errors.count %> prohibited this book from being saved:</p>
        <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li>・<%= message %></li>
      <% end %>
        </ul>
      </div>
      <% end %>
    </div>

    <div class="create">
    <%= form_with model:@book, local:true do |f| %>
    <div class="newbook">
      <h1>New Book</h1>
      <%= f.label :title %>
      <div>
        <%= f.text_field :title %>
      </div>

      <%= f.label :body %>
      <div>
        <%= f.text_area :body %>
      </div>

      <h4> <%= f.submit 'Create Book' %></h4>
    </div>
    <% end %>
    </div>
</body>
