<body>
    <header>
      <h1>Books</h1>
    </header>

    <main>
    <% @books.each do |book| %>
    <div class="title-box">
      <h3 class="title">Title</h3>
      <p class="text"><%= @book.title %></p>
    </div>

    <div class="body-box">
      <h3 class="body">Body</h3>
      <p class="text"><%= @book. %></p>
    </div>

    <div class="doing-box">
      <h3 class="doing">Doing</h3>
      <div class="doing-list">
      <p><%= link_to "show", book_path %></p>
      <p>"edit"</p>
      <p>"Delete"</p>
    　</div>
    </div>
    <% end %>
    </main>

    <create>
    <!-- form_with部分 -->
    <%= form_with model:@book, local:true do |f| %>
    <div class="new">
      <h2>New Book</h2>
      <h5>Title</h5>
      <%= f.text_field :title %>

      <h5>Body</h5>
      <%= f.text_area :body %>

      <h4 > <%= f.submit 'Create Book' %></h4>
    </div>
    <% end %>
    </create>
</body>