<div class="show">
      <% if flash[:notice] %>
            <p><%= flash[:notice] %></p>
            <% end %>
      <h4 class="text-title">"title"<%= @book.title %></h4>
      <h4 class="tet-body">"body"<%= @book.body %></h4>
      <p class="edit"><%= link_to "edit",edit_book_path(@book) %></p>
      <p class="back"><%= link_to "back",books_path %></p>
    </div>